.section-price-location{
    display: none;
}
.content-list-offers{
    list-style: none;
    padding: 0;
    .item-offer{
        .offer-item{
            border-bottom:1px solid #cacaca;
            padding: 15px;
            cursor: pointer;
            &:hover{
                background:#f4f6f9;
                box-shadow: 0 0 4px 1px #cacaca;
            }
            .name-offer{
                color: #777;
            }
        }
        .offer-item.active{
            background:#f4f6f9;
            border-bottom:1px solid #76a00d;
            .name-offer{
                color:#76a00d;
                
            }
        }
    }
    .open-offer-item{
        display: none;
        .content-image-offer{
            display: flex;
            align-items: center;
            padding: 0 15px;
            border:1px solid #76a00d;
            border-top:none;
            .image-offer{
                width: 150px;
                flex: none;
            }
            .content-actions{
                flex:1;
                text-align: center;
            }
        }
    }
}