a{
    font-family: 'poppins-medium';
}
.nav-header{
    font-family: 'poppins-bold';
}
.img-circle{
    border-radius: 0px !important;
}

.nav.nav-treeview > .nav-item > .nav-link.active {
    color:#76a00d;
    background: transparent;
    &:hover{
        background-color: rgba(255,255,255,.1);
        color:#76a00d;
    }
}
.nav-item.has-treeview.menu-open > .nav-link.active, 
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active{
    background: transparent;
    color:#76a00d;
    box-shadow: none;
}
.nav.nav-treeview{
    box-shadow: 0 8px 10px -6px;
}